$body-text: #0c0c0c;
$brand-blue: #3088c7;
$brand-blue-medium: #adcfe7;
$brand-blue-light: #c7deef;
$error: #ee1d4c;
$error-hover: #be0e36;
$success: #189056;
$white: #fff;
$brand-black: #0f0f0f;
$dark-gray: #0c0c0c;
$gray8: #332a26;

$xs: 567px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
